/* -- universal -- */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* grid layouts */

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  justify-items: center;
}

.grid-inner {
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
  font-size: 0.9rem;
}

.grid-three-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
@media (min-width: 60em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

/* -- body -- */

body {
  min-height: 100vh;
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  background: url(./assets/christopher-gower-m_HRfLhgABo-unsplash.jpg) no-repeat
    center;
  background-size: cover;
  /* margin-bottom: 3%; */
}

#headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  text-shadow: 3px 3px 5px #000000;
}

.hero h1 {
  font-size: 5em;
}

.hero h2 {
  font-size: 3.09em;
}

#aboutMe {
  height: auto;
  box-sizing: border-box;
  background: #4e4e4e29;
  margin-left: 2rem;
  margin-right: 2rem;
}

#about-content {
  padding-top: 2%;
}

#aboutMe h4 {
  font-size: 2.5em;
}

#aboutMe p {
  padding-left: 7%;
  padding-right: 23%;
  padding-bottom: 2%;
  font-size: 1.2em;
}

.educationMain {
  margin-left: 2rem;
  margin-right: 2rem;
}

#education-colLeft {
  margin-top: auto;
}
#education-colLeft h3 {
  font-size: 1.5rem;
}

#education-colLeft p {
  font-size: 1.3rem;
}

.projects h2 {
  font-size: 2.3rem;
}

#project1 img,
#project2 img,
#project3 img {
  /* border: 2px solid #000000; */
  box-shadow: 3px 3px 5px #000000;
  width: 25rem;
}

#project1,
#project2,
#project3 {
  text-align: center;
  padding: 60px 5px;
  margin: 0.5rem;
  background-color: #f0f0f0;
}

#project1 h4,
#project2 h4,
#project3 h4 {
  margin-top: auto;
  font-size: 1.2vw;
}

#project1 h5,
#project2 h5,
#project3 h5 {
  margin-top: auto;
  font-size: 0.9vw;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: calc(100% - 2 * 30px);
  padding-top: 70px;
}

.container h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2vh;
}

.container p {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personal-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.personal-info p {
  font-size: 1rem;
  margin: 0;
}

.personal-info a {
  color: #007bff;
  text-decoration: none;
}

.personal-info a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  width: 20vw;
  height: 20vh;
}

.contact-form button {
  width: 8vw;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links img {
  padding-top: 2vh;
  padding-left: 2vw;
  justify-content: center;
  height: 4vh;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (min-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
